<ul class="d-flex flex-column flex-md-row flex-wrap w-100">
    <li *ngFor="let shoe of this.shoes" class="m-auto my-2 shoe">
        <a [routerLink]="['/shoe',shoe.id]">
            <div class="card card-style" style="height: 70vh">
                <img [src]="shoe.image" class="card-img-top" height="50%" alt="sneaker">
                <div class="card-body text-white d-flex flex-column">
                    <p>
                        nome: {{ shoe.name }}
                    </p>
                    <p>
                        valor: {{ shoe.price }}
                    </p>
                </div>
                <div class="card-footer d-flex">
                    <button type="button" class="btn-personality m-auto"> comprar </button>
                </div>
            </div>
        </a>
    </li>
</ul>