

$lightPink:#f178f8;
$middlePink:#d43deb;
$darkPink:#c51fe4;

$darkGreen:#00aa00;
$middleGreen:#0bbe03;
$lightGreen:#20e508;

$darkOrange:#f8a726;
$lightOrange:#fcd35a;

$white:#ffffff;
$lightWhite:#e3e3e3;
$dark:#343a40