<section class="d-flex flex-column">
    <form class="d-flex ms-auto w-50">
        <fieldset class="form-group w-100">
            <label for="search" class="form-label"> pesquisar por nome: </label>
            <input type="text" id="search" class="form-control" #inputSearch>
        </fieldset>
    </form>

    <div class="shoes">



        <label for="genero">Responsáveis:</label>
        <select class="form-control" (change)="this.selectOption($event)">
            <option value="0"> --Selecione-- </option>
            @for (user of this.responsaveis; track $index) {
            <option [value]="user.id" >{{ user.nome }}</option>
            }
        </select>


        <h2> usuarios selecionados </h2>
        @for (user of usersSelects; track $index) {
            <p> {{ user.nome }} </p>
        } 



        @defer (when this.shoes != undefined) {
        <app-shoes-data [shoes]="this.filterShoes()"></app-shoes-data>
        }@placeholder{
        <ngx-skeleton-loader count="3" appearance="circle" animation="pulse"
            [theme]="{width: '30%',height: '50vh', 'border-radius': '10px', margin: '1.5%'}">
        </ngx-skeleton-loader>
        }


    </div>

</section>