<section class="d-flex flex-column">
    <form class="d-flex ms-auto w-50 mb-4">
        <fieldset class="form-group w-100">
            <label for="search" class="form-label"> pesquisar por nome: </label>
            <input type="text" id="search" class="form-control" [(ngModel)]="query">
        </fieldset>
    </form>

    <div class="shoes">

        @defer (when this.shoes().length != 0;hydrate on hover) {
            <app-shoes-data [shoes]="this.shoeSearchList()"></app-shoes-data>
        }
        @loading{
        <ngx-skeleton-loader count="3" appearance="circle" animation="pulse"
            [theme]="{width: '30%',height: '50vh', 'border-radius': '10px', margin: '1.5%'}">
        </ngx-skeleton-loader>
        }


    </div>

</section>