<section class="container-fluid m-0 p-0">
    <div class="banner">
        <article class="text-center">
            <h2> pegue seu novo tênis <strong> agora </strong> </h2>
            <h3> por um preço acessível </h3>
            <h4> descontos de até 30% </h4>
        </article>
        <article class="d-flex flex-column">
            <h5 class="text-center"> A 
                <img loading="lazy" class="w-25 m-auto" src="../../../assets/stars.png" alt="logotipo">
                <br> esta com
                voce
            </h5>
        </article>
        <div class="m-auto position-relative">
            <div class="ball-effect"></div>
            <img loading="lazy" src="../../../assets/great-sneaker.webp" class="banner-img" alt="banner image sneaker">
        </div>
    </div>
    <app-shoes-presentation></app-shoes-presentation>
    <app-shoes></app-shoes>
</section>