<section class="d-flex">
    <img loading="lazy" src="../../../assets/shoes.jpg" alt="shoes presentation">
    <article class="w-50 ms-auto">
        <p> Somos apaixonados por trazer a você a melhor experiência online possível. Aqui está o que você pode esperar
            encontrar em nosso site
        </p>

        <p>
            Estamos constantemente trabalhando para melhorar e atualizar nosso site, para que você sempre tenha a melhor
            experiência possível. Obrigado por nos escolher e esperamos que você aproveite sua visita!
        </p>
    </article>
</section>